$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$duration-150: 0.15s;
$duration-200: 0.2s;
$duration-250: 0.25s;
$duration-300: 0.3s;
$duration-350: 0.35s;
$duration-400: 0.4s;
$duration-450: 0.45s;
$duration-500: 0.5s;
$duration-550: 0.55s;
